* {
    margin: 0;
    padding: 0; 
}
html {
    min-width: 22rem;
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(75deg, 
    $color_sec,
    $color_sec 9vmax,
    $color_detail 9vmax,
    $color_detail 42vmax
    )fixed;
}
.success{
    border: 3px solid rgb(0, 173, 0);
    border-radius: 6px;
    label{
        flex-basis: 25%;   
    }
    p{
        font-size: 200%;
        flex-grow: 1; 
        flex-shrink: 1;
        flex-basis: 25%;   
        color: rgb(0, 173, 0);
    }
}
.error{
    border: 3px solid red;
    border-radius: 6px;
    label{
        flex-basis: 25%;   
    }
    p{
        flex-grow: 1; 
        flex-shrink: 1;
        flex-basis: 25%;   
        color: red;
    }
}
ul{
    list-style: none;
}
section ul li{
    border-color: transparent;
    border-top: $color_detail;
    border-width: 5px;
    border-style: solid;
    list-style: none;
}
button{
    background-color: transparent; 
    color: white ;
    padding: 1rem;
    margin: 2%;
    border: 3px solid $color_detail;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: $color_sec;
    color: white;
}

a:link, a:visited {
    color: white;
}