* {
    margin: 0;
    padding: 0; 
}
html {
    min-width: 22rem;
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(75deg, 
    $color_sec,
    $color_sec 9vmax,
    $color_detail 9vmax,
    $color_detail 42vmax
    )fixed;
}
